@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #273337;
$red: #c8102e;
body {
    box-sizing: border-box;
    color: #333333;
    padding: 0 !important; 
    font-size: 15px; 
    line-height: 1.65;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Tahoma';
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;      
        transition: .3s all; 
        margin-bottom: 0;  
        outline: none !important;  
    }  
    a { 
        transition: .3s all;
        color: $black;
        &:hover {
            transition: .3s all; 
            color: $red;
        } 
    }
    ul {
    	padding: 0;
    	margin: 0; 
    } 
    input, button {
    	outline: none !important;
    	box-shadow: none;
    	transition: .3s all;
    }
    .slick-slide {
    	height: auto;
    }
    .container {
        width: 100%;
        max-width: 1200px;
    }
}
.slick-slider {
    margin-bottom: 0;
    img {
        display: inline;
    }
}

.slick-dots {
    bottom: auto;
    position: unset;
    padding-top: 30px;
    button {
        display: none !important;
    }
    li {
        margin: 0 2px;
        height: 10px;
        width: 20px;
        border: 1px solid $red;
        background: #fff;
        border-radius: 30px;
        transition: .4s all !important;
        &.slick-active {
            width: 10px;
            background: $red;
        }
    }
}

@import "layer.scss";

section {
    padding: 60px 0 0 0;
}
.title {
    margin-bottom: 20px;
    h2 {
        font-size: 30px;
        line-height: inherit;
        // font-family: 'DancingScript';
        font-family: 'Tahoma';
        font-weight: bold;
        color: $red;
    }
}
.txt-about {
    h1 {
        font-size: 25px;
        line-height: unset;
        margin-bottom: 10px;
    }
    .desc {
        p {
            margin-bottom: 10px; 
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.list-ab {
    padding-top: 15px;
    ul {
        list-style: none;
        li {
            margin-bottom: 4px;
            position: relative;
            padding-left: 20px;
            &:after {
                content: "\f046";
                font-family: fontawesome;
                color: $red;
                position: absolute;
                left: 0;
                top: 1px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.item-srv {
    border: 1px solid #c8102e52;
    border-radius: 6px;
    padding: 0 15px 15px 15px;
    line-height: 1.5;
    transition: .4s all !important;
    height: 100%;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 8px 2px #c8102e38;
    }
    .icon {
        margin: -36px auto 15px auto;
        width: 76px;
        height: 76px;
        background: $red;
        overflow: hidden;
        border-radius: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: $red;
    }
}
.list-srv {
    .row {
        margin: 0 -10px;
        >div {
            padding: 65px 10px 0 10px;
        }
    }
}
.box-feedback{
    padding: 50px 0;
    color: #fff;
    position: relative;
    background-attachment: fixed !important;
    &:After {
        content: "";
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .8;
        top: 0;
        left: 0;
        position: absolute;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .title {
        margin-bottom: 40px;
        h2 {
            color: #fff;
        }
    }
    .slick-dots {
        bottom: 0;
        position: unset;
        margin-top: 25px;
        list-style: none;
        padding-top: 0;
        li {
            width: 20px;
            height: 10px;
            border: 1px solid #fff;
            background: transparent;
            transition: .3s all !important;
            border-radius: 20px;
            margin: 0 2px;
            &.slick-active {
                width: 10px;
                background: #fff;
                border: 1px solid #fff;
            }
        }
    }
}
.slide-fb {
    margin: 0 -15px;
    .item-slide {
        padding: 0 15px;
    }
    .item {
        .icon {
            margin-bottom: 20px;
            img {
                width: 150px;
                height: 150px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
        h3 {
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 600;
        }
        h6 {
            padding-top: 15px;
            font-size: 15px;
            font-weight: normal;
        }
        .desc {
            padding: 25px 20px 0 20px;
            line-height: 1.9;
        }
    }
}
.box-contact {
    padding: 60px 0;
}
.txt-ctn{
    padding-right: 40px;
    h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: inherit;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.form-ctn {
    .item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .txt-inp {
        width: 100%;
        height: 45px;
        padding: 0 15px;
        border: 0;
        border-radius: 5px;
        background: #ececec;
    }
    textarea {
        width: 100%;
        height: 45px;
        padding: 10px 15px;
        border: 0;
        background: #ececec;
        border-radius: 5px;
        outline: none;
        height: 120px;
    }
    .btn-ctn {
        height: 45px;
        background: $red;
        cursor: pointer;
        padding: 0 50px;
        border-radius: 5px;
        border: 0;
        color: #fff;
        font-weight: 600;
        transition: .4s all !important;
        &:hover {
            letter-spacing: 1.5px;
        }
    }
}
.box-FAQ {
    padding: 60px 0;
}
.item-quess {
    padding: 15px;
    border: 1px solid #c8102e38;
    border-radius: 5px;
    
    .desc {
        padding-top: 10px;
        border-top: 1px solid #c8102e38;
        margin-top: 10px;
    }
}
.list-faq {
    .card-header {
        padding: 0;
    }
    button {
        width: 100%;
        text-align: left;
        background: transparent;
        font-weight: 500;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        padding: 15px;
    }
    .card {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .col-md-6 {
        padding: 15px;
    }
}
.slide-prd {
    margin: 0 -15px;
    .item-slide {
        padding: 0 15px;
    }
}
.itemprd {
    font-size: 13px;
    .avarta {
        margin-bottom: 10px;
    }
    .info {
        a {
            display: block;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 6px;
        }
        ul {
            padding-left: 18px;
        }
    }
    .price {
        font-weight: 600;
        padding-bottom: 4px;
    }
}
.box-product {
    background: #f3f3f3;
    padding: 60px 0;
}
.box-service {
    padding: 60px 0;
}